<!DOCTYPE html>
<html>
    <body>
        <p><%= flash[:notice] %></p>
        <div class="container px-5 px-sm-0">
            <div class="row">
                
                <%= render 'list', book:@book %>
                <div class="col-md-8 offset-md-1">
                    <h2>Book detail</h2>
                    <table class="table">
                        
                        <tbody>
                            <% if current_user.id == @bookuser.id %>
                        <tr>
                            
                           <% if @bookuser.user.profile_image.attached? %>
                           <td><%= link_to user_path(@bookuser.user.id) do %>
                            <%= image_tag @bookuser.user.get_profile_image(100,100) %><br/><%= @bookuser.user.name %>
                           <%end%></td>
                            <td><%=link_to  book_path(@bookuser) do %>
                            <%= @bookuser.title %>
                            <%end%></td>
                            <%end%>
                            <td><%= @bookuser.body %></td>
                            <td><%=link_to "Edit", edit_book_path(@bookuser), class:"btn btn-sm btn-success"%></td>
                            <td><%= link_to"Destroy",book_path(@bookuser), method: :delete, "data-confirm" =>"本当に削除しますか？", class:"btn btn-sm btn-danger"%></td>
                        </tr>
                            <%else%>
                        <tr>
                           <% if @bookuser.user.profile_image.attached? %>
                           <td><%= link_to user_path(@bookuser.user.id) do %>
                            <%= image_tag @bookuser.user.get_profile_image(100,100) %><br/><%= @bookuser.user.name %>
                           <%end%></td>
                            <td><%=link_to  book_path(@bookuser) do %>
                            <%= @bookuser.title %>
                            <%end%></td>
                            <%end%>
                            <td><%= @bookuser.body %></td> 
                        </tr>
                            <%end%>
                        
                        
                        </tbody>
                   
                     </table>
                </div>
                
                
            </div>
        </div>
        
    </body>
</html>
